host:
  101.37.172.37
###########################################################################################################
server:
  port: 8000 #服务的端口

logging:
  level:
    root: info  #日志的打印级别
    org.springframework: info

spring:
  boot:
    enableautoconfiguration: true
  #数据源配置
  datasource:
#    url: jdbc:mysql://localhost:3306/springbootlearn?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    url: jdbc:mysql://101.37.172.37:3306/springbootlearn?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    #    name: jpa
    hikari:
      connection-timeout: 300000

    #数据库脚本初始化
    data:
      - classpath:SpringBootLearnDML.sql
    #    data-username: ''      #执行DML时的用户名
    #    data-password: ''      #执行DML时的密码
    schema:
      - classpath:SpringBootLearnDDL.sql
    #    schema-username: '' # 执行DDL时的用户名
    #    schema-password: '' # 执行DML时的密码
    continue-on-error: true
    separator: ;
    initialization-mode: never   # always为始终执行初始化，embedded只初始化内存数据库（默认值）,如h2等，never为不执行初始化
    driver-class-name: com.mysql.cj.jdbc.Driver

  banner:
    location: banner.txt  #指定banner的文件位置

  jpa:
    show-sql: false #打印jpa的sql语句
    properties:
      hibernate:
        dialect: com.xqk.learn.springboot.data.jpa.config.MyDialect
        enable_lazy_load_no_trans: true #解决懒加载时，缺少session的问题
        format_sql: true #格式化sql语句
        ddl_auto: false #生成数据库定义语句

  mvc:
    servlet:
      #mvc是否懒加载
      load-on-startup: 1

  #Multipart文件上传配置
  servlet:
    multipart:
      file-size-threshold: 0MB #当文件达到阀值时进行存储
      max-file-size: 200MB #最大文件大小
      max-request-size: 200MB #最大请求大小
      location: C:\\Users\\Public\\Downloads\\ #文件存放位置

  application:
    name: microservice-springbootlearn

  #flyway开关，相关配置在plugin中指定
  flyway:
    enabled: true #是否开启flyway
    locations: classpath:db/migration #sql脚本的位置，需要加classpath惹
    baseline-version: 1 #脚本的版本必须大于等于此配置，否则脚本不跑
    validate-on-migrate: false

  #使用一个profile时，同时也使用另外一个profile
  profiles:
    include:
#      - kafka
      - redis
      #      - elasticsearch
      #      - rabbitmq
      - feign

  #quartz配置
  quartz:
    startup-delay: 10s
    job-store-type: memory
    jdbc:
      initialize-schema: never
    properties:
      org:
        quartz:
          #          scheduler:
          #            instanceName: clusteredScheduler
          #           jisua instanceId: AUTO
          #          jobStore:
          #            class: org.quartz.impl.jdbcjobstore.JobStoreTX
          #            driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
          #            tablePrefix: QRTZ_
          #            isClustered: false
          #            clusterCheckinInterval: 10000
          #            #  org.quartz.jobStore.useProperties配置参数可以设置为“true”（默认为false），为了通知JDBCJobStore
          #            # 所有在JobDataMaps的值都会为String类型，因此可以作为键值对存储，而不是在BLOB列中存储序列化的对象。
          #            # 这从长远看来更安全，例如你可以避免将非String类对象序列化到BLOB中导致的类版本问题。
          #            useProperties: false
          threadPool:
            class: org.quartz.simpl.SimpleThreadPool
            threadCount: 5
            threadPriority: 5
            threadsInheritContextClassLoaderOfInitializingThread: true

  task:
    #  ThreadPoolTaskExecutor配置（@EnableAsync注解开启）TaskExecutionProperties
    execution:
      pool:
        core-size: 8  #核心线程数量
        max-size: 8 #当等待队列填满时，线程池可以扩大的数量
        queue-capacity: 1000 #等待的队列长度
        keep-alive: 50s #线程的最大空闲等待时长
        allow-core-thread-timeout: true #是否允许核心线程超时，可以实现线程池的动态增长和萎缩
      thread-name-prefix: aviator-task #自定义TaskExecutor线程名称

    #ThreadPoolScheduleExecutor配置（@EnableScheduling注解开启）TaskExecutionProperties
    scheduling:
      pool:
        size: 8 #允许的最大线程个数
      thread-name-prefix: aviator-scheduling #自定义TaskScheduling线程名称

hibernate:
  properties:
    hibernate:
      types:
        print:
          banner: false #关闭hibernate-type的banner打印

##############################################微服务####################################
#info下的数据可以在actuator端点：info中进行展示
info:
  app:
    name: 熊乾坤
    age: 25

management:
  endpoint:
    shutdown:
      enabled: true #开启actuator的shutdown端点
  endpoints:
    web:
      exposure:
        include: [health,info,env,beans,mappings,info,metrics,dump,refresh] #设置开启的Actuator节点，开启后的访问端点为http://localhost:8080/actuator/{endpoints}
#        include: * #设置开启所有的Actuator节点

#      cors:
#        allowed-origins: http://101.37.172.37:8080 #配置允许访问的地址
#        allowed-methods: GET,POST,DELETE,PUT #允许的Http方法

#微服务配置
eureka:
  client:
    enabled: true #关闭eureka